@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scale-larger {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-up {
  0% {
    position: relative;
    bottom: -25px;
  }
  100% {
    position: relative;
    bottom: 0;
  }
}
@keyframes slide-right {
  0% {
    position: relative;
    left: -25px;
  }
  100% {
    position: relative;
    left: 0;
  }
}
@keyframes slide-left {
  0% {
    position: relative;
    right: -25px;
  }
  100% {
    position: relative;
    right: 0;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  line-height: 1.375;
  color: #221e1f;
  animation: fadein 0.5s;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 95%;
  }
}
@media screen and (max-width: 639px) {
  body {
    font-size: 90%;
  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

textarea,
input.text,
input[type=text],
input[type=email],
input[type=button],
input[type=submit],
.input-checkbox {
  -webkit-appearance: none !important;
  border-radius: 0 !important;
}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text-center {
  text-align: center;
}

.text-green {
  color: #2f7681;
}

.no-margin {
  margin: 0;
}

.mar-top-10 {
  margin-top: 10px;
}

.mar-top-20 {
  margin-top: 20px;
}

.mar-top-30 {
  margin-top: 30px;
}

.mar-bot-10 {
  margin-bottom: 10px;
}

.mar-bot-20 {
  margin-bottom: 20px;
}

.mar-bot-30 {
  margin-bottom: 30px;
}

.no-padding {
  padding: 0;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

p {
  line-height: 1.475;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1.25rem;
  font-size: 1.15rem;
  color: #777777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
  line-height: 1.15;
}

h1 {
  font-size: 3.052em;
  text-transform: uppercase;
}

h2 {
  font-size: 2.441em;
  text-transform: uppercase;
}
h2 span {
  color: #2f7681;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small {
  font-size: 0.8em;
}

.section-heading-wrap {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.section-heading-wrap h2 {
  font-size: 2.75rem;
}

.heading-alt {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.heading-alt:after {
  position: absolute;
  content: "";
  background: #ccc;
  height: 3px;
  width: 60px;
  bottom: 0px;
  display: block;
}
.heading-alt--a {
  color: #2f7681;
}
.heading-alt--b {
  color: #803131;
}

.grid-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.grid-row--underlined {
  padding-bottom: 2.75rem;
  margin-bottom: 3.25rem;
}
.grid-row--underlined:last-of-type {
  margin-bottom: 1rem;
  padding-bottom: 0;
}
.grid-row--underlined:last-of-type:after {
  border-bottom: none;
}
.grid-row--underlined:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  max-width: 600px;
  min-width: 200px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 767px) {
  .grid-row > .col-1-2:first-of-type {
    margin-bottom: 2.5rem;
  }
}

.col.col-vert-centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.col-1-4 {
  width: calc(25% - 20px);
}
@media screen and (max-width: 1023px) {
  .col-1-4 {
    width: calc(50% - 20px);
    margin-bottom: calc(2 * 20px);
  }
}
@media screen and (max-width: 479px) {
  .col-1-4 {
    width: 100%;
    margin-bottom: calc(2 * 20px);
  }
}

.col-1-3 {
  width: calc(33.33% - 20px);
}

.col-2-5 {
  width: calc(40% - 20px);
}
@media screen and (max-width: 767px) {
  .col-2-5 {
    width: 100%;
  }
}

.col-1-2 {
  width: calc(50% - 20px);
}
@media screen and (max-width: 767px) {
  .col-1-2 {
    width: 100%;
  }
}

.col-3-5 {
  width: calc(60% - 20px);
}
@media screen and (max-width: 767px) {
  .col-3-5 {
    width: 100%;
  }
}

.col-2-3 {
  width: calc(66.66% - 20px);
}

.col-3-4 {
  width: calc(75% - 20px);
}

.col-full-width {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}

section {
  padding: 3rem 0;
}
section.section-alt-bg {
  background: #f8f8f8;
}
section.section-extra-padding {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.header {
  padding: 0.75rem 0;
  z-index: 1000;
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
.header a {
  color: #2f7681;
  font-weight: 700;
  transition: all 0.2s ease;
}
.header a:hover, .header a:focus {
  color: #803131;
}
.header__container {
  display: flex;
  justify-content: space-between;
  width: 94%;
  max-width: 1800px;
  margin: 0 auto;
}
.header__logo img {
  width: 180px;
}
.header__nav ul {
  display: flex;
}
.header__nav li {
  list-style-type: none;
  margin-left: 2rem;
}
.header__nav.toggled ul {
  display: block !important;
}
@media screen and (min-width: 768px) {
  .header__nav.toggled ul {
    display: flex !important;
  }
}

.menu-toggle {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu-toggle {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  #primary-menu {
    display: none;
  }
}
.main-navigation.toggled #primary-menu {
  display: block;
}

.footer {
  padding: 2rem 0;
  background: #2f7681;
  color: white;
}
.footer a {
  color: white;
}
.footer__container {
  width: 94%;
  max-width: 1800px;
  margin: 0 auto;
}
.footer__logo {
  max-width: 100%;
  width: 190px;
}
.footer__copyright {
  margin-top: 14px;
  font-size: 11px;
  text-align: center;
}
.footer__nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.footer__nav li {
  list-style-type: none;
  margin-left: 25px;
}
.footer__nav li:first-child {
  margin-left: 0;
}
.footer__nav a {
  font-weight: 700;
  font-size: 0.975rem;
}
.footer__social-nav {
  text-align: right;
}
.footer__social-nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 25px 0 0;
  padding: 0;
}
.footer__social-nav li {
  list-style-type: none;
  margin-left: 20px;
}
.footer__social-nav li:first-child {
  margin-left: 0;
}
.footer__social-nav a {
  font-size: 20px;
}

.footer-col-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-col--left,
.footer-col--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  transition: all 0.2s ease;
}
.btn:hover, .btn:focus {
  opacity: 0.85;
}
.btn--small {
  font-size: 0.9rem;
  padding: 7px 13px;
}
.btn--medium {
  font-size: 1rem;
  padding: 13px 21px;
}
.btn--large {
  font-size: 1.25rem;
  padding: 16px 28px;
}
.btn--primary {
  background: #2f7681;
  color: white;
}
.btn--secondary {
  background: #bcb865;
  color: white;
}
.btn--tertiary {
  background: #8fc4c6;
  color: white;
}
.btn--quaternary {
  background: #803131;
  color: white;
}

.breadcrumbs a {
  color: #2f7681;
}

.hero {
  padding: 4rem 0;
  background-size: cover;
  width: 100%;
}
@media screen and (max-width: 639px) {
  .hero {
    padding: 3rem 0;
  }
}
.hero p {
  color: #575757;
  font-size: 1.15rem;
  line-height: 1.45;
}
.hero__content {
  background: white;
  max-width: 470px;
  width: 100%;
  padding: 2.15rem 2.5rem;
  transform: scale(0.95);
}
@media screen and (max-width: 639px) {
  .hero__content {
    padding: 1.55rem;
  }
}
.hero__content.in-view {
  animation: scale-larger 1s ease forwards;
}
.hero--home {
  background-image: url("../images/canyon.jpg");
  background-position: center center;
}
.hero--home h1 {
  color: #2f7681;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 2rem;
}
.hero--home h1 span {
  font-size: 1.25rem;
  font-weight: 400;
  display: block;
  text-transform: uppercase;
  color: #221e1f;
  padding-bottom: 0.15rem;
}
.hero--home h1:after {
  content: "";
  background: #707070;
  height: 3px;
  width: 80px;
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
}
.hero--about {
  background-image: url("../images/flower-vertical.jpg");
  background-position: center center;
}
.hero--services {
  background-image: url("../images/tree.jpg");
  background-position: center center;
}
.hero--resources {
  background-image: url("../images/mountains.jpg");
  background-position: center 25%;
}
.hero--about, .hero--services, .hero--resources {
  padding: 4rem 0 9rem;
}
@media screen and (max-width: 639px) {
  .hero--about, .hero--services, .hero--resources {
    padding: 3rem 0;
  }
}
.hero--about h1, .hero--services h1, .hero--resources h1 {
  position: relative;
  margin-bottom: 1.5rem;
}
.hero--about h1 span, .hero--services h1 span, .hero--resources h1 span {
  color: #2f7681;
}
.hero--about h1:after, .hero--services h1:after, .hero--resources h1:after {
  content: "";
  background: #707070;
  height: 3px;
  width: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
}

.featured-box {
  text-align: center;
  border: 1px solid #575757;
  padding: 28px 20px;
}
.featured-box__icon {
  font-size: 34px;
  margin-bottom: 1rem;
}
.featured-box__icon i {
  background: -webkit-linear-gradient(45deg, #914cd9, #db3990);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.featured-box__heading {
  position: relative;
  margin-bottom: 1.5rem;
}
.featured-box__heading:after {
  content: "";
  display: block;
  background: #ccc;
  height: 3px;
  width: 80px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.225rem;
}
.featured-box__blurb {
  font-size: 1rem;
}

.mailing-list-panel {
  padding: 10rem 0;
  background-size: cover;
  width: 100%;
  background-image: url("../images/flower-vertical-red.jpg");
  background-position: center center;
}
.mailing-list-panel h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.mailing-list-form-wrap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  transform: scale(0.95);
}
.mailing-list-form-wrap.in-view {
  animation: scale-larger 0.7s ease forwards;
}

.mailing-list-form-field--1 {
  width: calc(100% - 130px);
}

.mailing-list-form-field--2 {
  width: 120px;
}

.mailing-list-email-input {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background: white;
  height: 45px;
  background: white;
  display: block;
  width: 100%;
  padding: 5px 15px;
  font-size: 1.15rem;
  color: #221e1f;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.mailing-list-submit-btn {
  cursor: pointer;
  width: 130px;
  text-align: center;
  border: 1px solid white;
  background: #bcb865;
  display: inline-block;
  height: 45px;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  transition: all 0.2s ease;
}
.mailing-list-submit-btn:hover {
  opacity: 0.8;
}

.contact-form-panel {
  padding: 4rem 0;
  background: #f8f8f8;
}
.contact-form-panel__intro {
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
}
.contact-form-panel__intro h2 {
  text-transform: none;
}
.contact-form-panel__intro p {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.25rem;
}
.contact-form-panel__intro:after {
  content: "";
  position: absolute;
  background: #e8e8e8;
  height: 3px;
  width: 100px;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
}

.contact-form-wrap {
  width: 100%;
  max-width: 800px;
  margin: 4.5rem auto 1rem;
  opacity: 0;
}
.contact-form-wrap.in-view {
  animation: fadein 1.5s ease forwards;
}
.contact-form-wrap input[type=text],
.contact-form-wrap textarea {
  appearance: none;
  -webkit-appearance: none;
  background: white;
  border: 2px solid #e8e8e8;
  border-radius: 5px !important;
  height: 50px;
  padding: 5px 15px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #221e1f;
  font-weight: 700;
  font-size: 1rem;
}
.contact-form-wrap textarea {
  min-height: 140px;
}

.contact-form-field input,
.contact-form-field textarea {
  width: 100%;
}

.contact-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.contact-form-row--2up .contact-form-field {
  width: calc(50% - 20px);
}
.contact-form-row--full-width .contact-form-field {
  width: 100%;
}
.contact-form-row--justify-center .contact-form-field {
  display: flex;
  justify-content: center;
}

.contact-form-submit-btn {
  cursor: pointer;
  width: 130px;
  text-align: center;
  border: 1px solid white;
  background: #bcb865;
  display: inline-block;
  height: 45px;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  transition: all 0.2s ease;
}
.contact-form-submit-btn:hover {
  opacity: 0.8;
}

.testimonial-block {
  background-image: url("../images/mountains-people.jpg");
  background-size: cover;
  color: white;
  padding: 30px;
  position: relative;
}
.testimonial-block.in-view {
  animation: slide-right 1s ease forwards;
}
.testimonial-block:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.testimonial-block__content {
  position: relative;
  z-index: 10;
}
.testimonial-block p {
  color: white;
}
.testimonial-block__heading {
  margin-bottom: 35px;
  position: relative;
  text-transform: uppercase;
}
.testimonial-block__heading:after {
  content: "";
  background: white;
  height: 5px;
  width: 160px;
  position: absolute;
  bottom: 0px;
}
.testimonial-block__quote p {
  font-style: italic;
  font-size: 1.2rem;
}
.testimonial-block__author {
  text-align: right;
}
.testimonial-block__author p {
  text-align: right;
  margin: 0;
  padding: 0;
}

.testimonial-panel {
  text-align: center;
  background-image: url("../images/clouds.jpg");
  background-position: center center;
  color: white;
  position: relative;
  padding: 5rem 0;
}
.testimonial-panel:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.testimonial-panel__content {
  position: relative;
  z-index: 10;
}
.testimonial-panel p,
.testimonial-panel h1,
.testimonial-panel h2,
.testimonial-panel h3,
.testimonial-panel h4,
.testimonial-panel h5,
.testimonial-panel h6 {
  color: white;
}
.testimonial-panel__heading {
  padding-bottom: 3rem;
  text-transform: uppercase;
}
.testimonial-panel__quote {
  font-size: 2.9rem;
  line-height: 1.3;
  padding-bottom: 3rem;
  max-width: 840px;
  margin: 0 auto;
  width: 100%;
}
.testimonial-panel__quote.in-view {
  animation: scale-larger 2.5s ease forwards;
}
.testimonial-panel__author {
  font-size: 1.35rem;
}

.link-box {
  background: white;
  padding: 30px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.link-box.in-view {
  animation: slide-left 1s ease forwards;
}
.link-box__heading {
  text-transform: uppercase;
}

.post-block {
  border: 1px solid #262626;
}
.post-block__content {
  padding: 30px;
}
.post-block--no-img {
  min-height: 100%;
}
@media screen and (max-width: 767px) {
  .post-block--no-img {
    margin-bottom: calc(2 * 20px);
    min-height: auto;
  }
}
.post-block--no-img h3 {
  font-size: 2.15rem;
  margin-bottom: 0.5rem;
}
.post-block--no-img p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.post-block-wide {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(2 * 20px);
}
.post-block-wide:last-child {
  margin-bottom: 0;
}
.post-block-wide p {
  font-size: 0.95rem;
  line-height: 1.55;
  margin-bottom: 0;
  padding-bottom: 1.25rem;
}
.post-block-wide__image {
  width: 30%;
}
@media screen and (max-width: 859px) {
  .post-block-wide__image {
    width: 40%;
  }
}
.post-block-wide__image img {
  object-fit: cover;
  height: 100%;
  width: 300px;
}
.post-block-wide__content {
  width: 70%;
  padding: 20px 20px 20px 30px;
}
@media screen and (max-width: 859px) {
  .post-block-wide__content {
    width: 60%;
  }
}

.home-services-grid {
  padding-bottom: 5rem;
}

.hero.hero--home-learn-more {
  padding: 5rem 0 0;
  background-image: url("../images/tree.jpg");
  background-position: center center;
  margin-bottom: 10rem;
}
.hero.hero--home-learn-more .container {
  display: flex;
  justify-content: flex-end;
}
.hero.hero--home-learn-more .hero__content {
  position: relative;
  margin-right: 5%;
  bottom: -70px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.hero.hero--home-learn-more .hero__content h3 {
  text-transform: uppercase;
}
.hero.hero--home-learn-more .hero__content h3 span {
  color: #2f7681;
}
.hero.hero--home-learn-more .hero__content p {
  margin-bottom: 0.75rem;
}

/*# sourceMappingURL=style.css.map */
