// Default Font Stacks
$sans-serif-main: 'Poppins', Helvetica, Arial, sans-serif;
//$sans-serif-alt: 'BebasNeue', Georgia, sans-serif;

// Alt Font Stacks
$sans-serif-heavy: 'NeuzeitBookHeavy', Helvetica, Arial, sans-serif;

// Colors
$primary-color: #2f7681;
$secondary-color: #bcb865;
$tertiary-color: #8fc4c6;
$quaternary-color: #3b1321;

$text-color-main: #221e1f;
$text-color-light: #aaaaaa;
$text-color-mid: #777777;
$text-color-mid-alt: #999999;

// Grays
$gray-1: #707070;
$gray-2: #575757;

// Layout
$container-width: 90%;
$container-max-width: 1120px;
$section-padding: 40px;
$container-small-max-width: 840px;
$viewport-switch: calc(#{$container-max-width}/.9);
$gutter: 20px;

// // Admin Bar
// $wpadmin-bar-height: 32px;
// $wpadmin-bar-height-mobile: 46px;

// // Keyframes
// @keyframes fade-in-1 {   
//   0% {     
//     opacity: 0;   
//   }    
//   100% {
//     opacity: 1;
//   }
// }