.grid-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--underlined {
    padding-bottom: 2.75rem;
    margin-bottom: 3.25rem;

    &:last-of-type {
      margin-bottom: 1rem;
      padding-bottom: 0;

      &:after {
        border-bottom: none;
      }
    }

    &:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      width: 60%;
      max-width: 600px;
      min-width: 200px;
      margin: 0 auto;
      border-bottom: 1px solid $gray-3;
    }
  }

  > .col-1-2:first-of-type {
    @include mq(ipad, 'max-width') {
      margin-bottom: 2.5rem;
    }
  }
}

.col { 
  &.col-vert-centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.col-1-4 {
  width: calc(25% - #{$gutter});

  @include mq(desktop, 'max-width') {
    width: calc(50% - #{$gutter});  
    margin-bottom: calc(2 * #{$gutter});
  }

  @include mq(mobile-landscape, 'max-width') {
    width: 100%;
    margin-bottom: calc(2 * #{$gutter});
  }
}

.col-1-3 {
  width: calc(33.33% - #{$gutter});
}

.col-2-5 {
  width: calc(40% - #{$gutter});

  @include mq(ipad, 'max-width') {
    width: 100%;
  }
}

.col-1-2 {
  width: calc(50% - #{$gutter});

  @include mq(ipad, 'max-width') {
    width: 100%;
  }
}

.col-3-5 {
  width: calc(60% - #{$gutter});

  @include mq(ipad, 'max-width') {
    width: 100%;
  }
}

.col-2-3 {
  width: calc(66.66% - #{$gutter});
}

.col-3-4 {
  width: calc(75% - #{$gutter});
}

.col-full-width {
  width: 100%;
}