.grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col { 
}

.col-1-4 {
  width: calc(25% - #{$gutter});

  @include mq(desktop, 'max-width') {
    width: calc(50% - #{$gutter});  
    margin-bottom: calc(2* #{$gutter});
  }

  @include mq(mobile-landscape, 'max-width') {
    width: 100%;
    margin-bottom: calc(2* #{$gutter});
  }
}

.col-1-3 {
  width: calc(33.33% - #{$gutter});
}

.col-1-2 {
  width: calc(50% - #{$gutter});
}

.col-2-3 {
  width: calc(66.66% - #{$gutter});
}

.col-3-4 {
  width: calc(75% - #{$gutter});
}

.col-full-width {
  width: 100%;
}