.header {
  padding: .75rem 0;
  z-index: 1000;
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .15);

  a {
    color: $primary-color;
    font-weight: 700;

    @include link-transition;

    &:hover,
    &:focus {
      color: $quaternary-color;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 94%;
    max-width: 1800px;
    margin: 0 auto;
  }

  &__logo {
    img {
      width: 180px;
    }
  }

  &__nav {
    ul {
      display: flex;
    }

    li {
      list-style-type: none;
      margin-left: 2rem;
    }

    &.toggled {
      ul {
        display: block !important;

        @include mq(ipad) {
          display: flex !important;
        }
      }
    }
  }
}

.menu-toggle {
  display: none;

  @include mq(ipad, 'max-width') {
    display: block;
  }
}

#primary-menu {  
  @include mq(ipad, 'max-width') {
    display: none;
  }

  .main-navigation.toggled & {
    display: block;
  }
}