.faqs {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  &.in-view {
    animation: slide-right 1s ease forwards;
  }

  dl,
  dd {
    margin: 0;
    padding: 0;
  }
}

.faq__list {
  margin-bottom: 30px;
}

.faq__list-item {
  font-size: 1rem;
  margin-bottom: 30px;

  .faq__toggle {
    display: inline-block;
    float: left;
    margin-right: .5rem;
    position: relative;
    top: .175rem;
    font-size: 1rem;
    cursor: pointer;
  }

  .faq__toggle--collapse {
    opacity: 0;
    height: 0;
    width: 0;
  }

  button {
    font-size: 1.15rem;
    margin-left: 30px;
    font-weight: 700;
    text-align: left;
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    outline: none;
  }

  dd {
    padding: 10px 19px 10px 38px;
    display: none;
    outline: none;
    color: $text-color-mid;
    line-height: 1.5;

    p:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &.is-visible {
      display: block;
    }
  }
}

.toggle-header {
  font-size: 1.1rem;
  display: inline-block;
  color: $primary-color;
  transition: .2s ease opacity;

  &:hover {
    opacity: .85;
  }

  button {
    color: $primary-color;
    font-size: 1.25rem;
  }


  &.active {
    .faq__toggle--expand {
      opacity: 0;
      height: 0;
      width: 0;
    }

    .faq__toggle--collapse {
      opacity: 1;
      height: auto;
      width: auto;
      transition: all .1s ease;
    }
  }
}

.faq {
  .toggle-header {
    position: relative;

    svg {
      fill: $primary-color;;
      height: 20px;
      width: 20px;
      position: absolute;
      top: 3px;
      left: 0;
      cursor: pointer;
    }

    #collapse {
      display: none;
    }

    &.js_is-opened {
      & + dd {
        display: block;
        animation: fadein .8s ease forwards;
      }
    }
  }
}