.featured-box {
  text-align: center;
  border: 1px solid $gray-2;
  padding: 28px 20px;

  &__icon {
    font-size: 34px;
    margin-bottom: 1rem;

    i {
      background: -webkit-linear-gradient(45deg, #914cd9, #db3990);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__heading {
    position: relative;
    margin-bottom: 1.5rem;

    &:after {
      content: '';
      display: block;
      background: $gray-3;
      height: 3px;
      width: 80px;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -.225rem;
    }
  }
}