.hero {
  padding: 4rem 0;
  background-size: cover;
  width: 100%;

  @include mq(tablet, 'max-width') {
    padding: 3rem 0;
  }

  p {
    color: $gray-2;
    font-size: 1.15rem;
    line-height: 1.45;
  }

  &__content {
    background: white;
    max-width: 470px;
    width: 100%;
    padding: 2.15rem 2.5rem;
    transform: scale(.95);

    @include mq(tablet, 'max-width') {
      padding: 1.55rem;
    }

    &.in-view {
      animation: scale-larger 1s ease forwards;
    }
  }

  &--home {
    background-position: center center;

    h1 {
      color: $primary-color;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 0;
      margin-bottom: 2rem;

      span {
        font-size: 1.25rem;
        font-weight: 400;
        display: block;
        text-transform: uppercase;
        color: $text-color-main;
        padding-bottom: .15rem;
      }

      &:after {
        content: '';
        background: $gray-1;
        height: 3px;
        width: 80px;
        position: absolute;
        left: 0;
        bottom: -10px;
        display: block;
      }
    }
  }

  &--about {
    background-position: center center;
  }

  &--services {
    background-position: center center;
  }

  &--resources {
    background-position: center 25%;
  }

  &--about,
  &--services,
  &--resources {
    padding: 4rem 0 9rem;

    @include mq(tablet, 'max-width') {
      padding: 3rem 0;
    }

    h1 {
      position: relative;
      margin-bottom: 1.5rem;

      span {
        color: $primary-color;
      }

      &:after {
        content: '';
        background: $gray-1;
        height: 3px;
        width: 80px;
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
      }
    }
  }
}

