b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

p {
  line-height: 1.475;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1.25rem;
  font-size: 1.15rem;
  color: $text-color-mid;
}

h1, 
h2, 
h3,
h4,
h5,
h6 {  
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1rem;
  line-height: 1.15;
}

h1 {
  font-size: 3.052em;
  text-transform: uppercase;
}

h2 {
  font-size: 2.441em;
  text-transform: uppercase;

  span {
    color: $primary-color;
  }
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small {
  font-size: 0.8em;
}

.section-heading-wrap {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: center;

  h2 {
    font-size: 2.75rem;
  }
}

.heading-alt {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  &:after {
    position: absolute;
    content: '';
    background: $gray-3;
    height: 3px;
    width: 60px;
    bottom: 0px;
    display: block;
  }

  &--a {
    color: $primary-color;
  }

  &--b {
    color: $quaternary-color;
  }
}