// Text
.text-center {
  text-align: center;
}

.text-green {
  color: $primary-color;
}

// Margin
.no-margin {
  margin: 0;
}

.mar-top-10 {
  margin-top: 10px;
}

.mar-top-20 {
  margin-top: 20px;
}

.mar-top-30 {
  margin-top: 30px;
}

.mar-bot-10 {
  margin-bottom: 10px;
}

.mar-bot-20 {
  margin-bottom: 20px;
}

.mar-bot-30 {
  margin-bottom: 30px;
}

// Padding
.no-padding {
  padding: 0;
}