.text-center {
  text-align: center;
}

.text-green {
  color: $primary-color;
}

.mar-bot-10 {
  margin-bottom: 10px;
}

.mar-bot-20 {
  margin-bottom: 20px;
}

.mar-bot-30 {
  margin-bottom: 30px;
}